.idea/
kubeconfig_*
*.xpkg
.DS_Store

# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan

cluster-keys.json
examples/upbound-aws-provider/composite-resources/serverless-examples/microservice/claim/microservice-claim.yaml
.gitignore
